  
body {
    font-family: "Open Sans" !important;
    font-size: 13px;
    color: #222;
    margin: 0;
    background: #F7F7F7;
}


.contact {
    background-color: var(--color-brown);
    color: #fff
}

.contact .row .col-lg-4 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px
}
.ul-contact{
    list-style: none;
}
.ul-contact li{
    margin-bottom: 10px;
}
.ul-contact a{
    color: #F7F7F7;
}
.footer{
    background-color: var(--color-black);
}
