  
body {
    font-family: "Open Sans" !important;
    font-size: 13px;
    color: #222;
    margin: 0;
    background: #F7F7F7;
}


.footer{
    font-weight: 300 !important;
    color: var(--color-gray);
    background-color: var(--color-black);
}