
 /*Select*/

.new-selected{
    background-color: var(--color-white);
    border-radius: 8px;
    overflow: hidden;
}
.new-selected .image{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    height: 400px;
    overflow: hidden;
    position: relative;
    animation: zoomImage 10s ease-in forwards;
}
@keyframes zoomImage{
    0%{
      background-size: 100%;
    }
    100%{
      background-size: 120%;
    }
}
.new-selected .image .float-date{
    position: absolute;
    font-size: 14px;
    left: 20px;
    bottom: 20px;
    background-color: var(--color-brown);
    color: var(--color-white);
    padding: 5px 20px;
    font-weight: 500;
}
.new-selected .description{
   padding: 20px ;
}
.new-selected .description h3{
   position: relative;
   font-weight:700 ;
   margin-bottom: 20px
}
.new-selected .description h3::before{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 15%;
    height: 2px;
    background-color: var(--color-brown);
}
.new-selected .description h3::after{
   content: "";
   position: absolute;
   bottom: -10px;
   width: 80%;
   height: 1px;
   left: 19%;
   background-color: var(--color-gray);
}
.new-selected .description .text{
   padding: 20px 0;
   width: 100%;
   overflow: hidden;
   text-align: justify;
}
