.section-process {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding-bottom: 70px;
}

.section-process::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: #212529;
    opacity: 0.7;
    pointer-events: none;
    filter: blur(3.5px);
    -webkit-transition: ease opacity 300ms 100ms;
    transition: ease opacity 300ms 100ms;
}

.process {
    position: relative;
    z-index: 3;
    padding: 20px 0px;
}

/* Estilos personalizados */
.popup-gallery-ajax {
    animation: fadeInUpShorter 0.3s ease-in-out;
    animation-delay: 200ms;
}

.featured-box {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    background-color: #f9f9f9;
}

.box-content:hover > span{
    border: 10px solid var(--color-opac);
}
.box-content:hover > a{
    background-color: var(--color-brown);
    color: var(--color-opac);
    border-radius: 50px;
}

.featured-box .box-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured-box .icon-featured {
    font-size: 48px;
    color: #3498db;
}

/* Animación personalizada */
@keyframes fadeInUpShorter {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


.box-content span {
    transition: 0.3s;
    background-color: var(--color-brown);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    font-size: 30px;
}
.box-content h4 {
    font-size: 18px;
    line-height: 1;
}
.box-content p {
    font-size: 12px;
    line-height: 1.4;
}

.box-content a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #cbcbcbb0;
    color: var(--color-brown);
    font-weight: 900;
    padding: 2px 15px;
    border-radius: 3px;
    transition: 0.5s;
}

.all-process{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}