
.section-services {
    background-color: var(--color-opac);
}

.services {
    padding: 20px 0px;
}

.services .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}
.services  .wrapper .stack{
    border-top: 1px solid #fff;
    background-color: var(--color-white);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.services .wrapper .stack i{
    transition: all 0.2s;
}
.services  .wrapper .stack:hover i{
    transform: rotate(10deg);
    transform: scale(1.1);
}
.stack .icon{
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: var(--color-brown);
}

.stack .text{
    padding: 20px;
    color: var(--color-gray) ;
}
.stack .text a{
    color: var(--color-black);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-decoration: none;
}
.stack .text a:hover{
    color: var(--color-brown-opac);
}
.stack .text p{
    font-size: 14px;
    font-weight: 200;
}