.section-services.html {
    background-color: var(--color-opac);
}

.services.html {
    padding: 20px 0px;
}

.services.html .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}

.services.html .wrapper .stack {
    border-top: 1px solid #fff;
    background-color: var(--color-white);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.services.html .wrapper .stack i {
    transition: all 0.3s;
    font-size: 20px;
}

.services.html .wrapper .stack:hover i {
    transform: rotate(10deg);
    transform: scale(1.1);
}

.stack .icon {
    position: absolute;
    top: -30px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-brown-opac);
    color: var(--color-white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.stack .text {
    margin-top: 10px;
    padding: 20px;
    color: var(--color-gray);
}

.stack .text a {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-decoration: none;
}

.stack .text a:hover {
    color: var(--color-brown-opac);
}

.stack .text p {
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}